SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_PASSCODE=
SNOWFLAKE_PASSCODE_IN_PASSWORD=false
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=KUMO_ADMIN
SNOWFLAKE_SCHEMA=WORKFLOW_MANAGER
KUMO_DB=KUMO_ADMIN
KUMO_SCHEMA=WORKFLOW_MANAGER
KUMO_PROGRESS_TABLE=KUMO_TST.META.EXECUTION_PROGRESS
KUMO_USE_MOCK=false
KUMO_REFRESH_SECONDS=5
